.Calendar {
  display: inline-block;
  position: relative;

  &-withFooter {
    .Calendar-menu {
      padding-bottom: 8px;
    }
  }

  &-footer {
    border-top: 1px solid var(--disabled-01);
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 4px 0;
  }

  &-header {
    display: flex;
    align-items: center;
    color: var(--text-secondary);
    min-width: 160px;
    margin: 8px 16px;
    border-bottom: 1px solid var(--disabled-01);

    .decade-range {
      font-size: 16px !important;
      font-weight: 600;
      width: max-content;
    }

    .left-chevron {
      margin-right: auto;
    }

    .right-chevron {
      margin-left: auto;
    }
  }

  &-menu {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 8px 16px 16px;
    min-width: 280px;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2px;

    &.Calendar-yearsMenu {
      min-height: 204px;
    }

    &.Calendar-monthsMenu {
      grid-template-columns: repeat(3, 1fr);
    }

    &.Calendar-datesMenu {
      grid-template-columns: repeat(7, 1fr);

      .days {
        color: var(--text-secondary);
        font-weight: 600;
        margin-bottom: 8px;
      }
    }
  }
}
